---
---
@import "uno";
@import "tables";
@import "monokai";

/* Modifications */
body{
font-family: 'Source Code Pro', monospace;
}

.post-title{

font-family: 'Source Code Pro', monospace;
font-weight: bold;
}

pre.highlight,
.highlight pre {
  padding: 10px;
}

pre.highlight code,
.highlight pre code {
  white-space: pre-wrap;
}

.btn,
.navigation__item a {
  margin: 5px 0;
  white-space: nowrap;
}

.pagination__page-number {
  display: inline-block;
  padding: 10px;
}

.categories a,
.tags a {
  border: 1px solid #e25440;
  border-radius: 20px;
  color: #e25440;
  display: inline-block;
  font-size: 12px;
  margin: 5px 0;
  padding: 5px 10px;
  text-shadow: none;
  white-space: nowrap;
  font-family: 'Source Code Pro', monospace;
}

.post-meta__tags {
  font-size: 12px;
  padding: 0 5px;
}

.footer__copyright {
    font-family: 'Source Code Pro', monospace;
    margin: 0 20px 10px;
}

.user-image {
  margin-bottom: 1.2em;
  position: relative;
  width: 100px;
  height: 100px;
  border: 3px solid #fff;
  border-radius:100%;

    float: none;
    display: block;
    margin: 0 auto 1.75rem;
border-radius: 50%;
    width: 100px;
    height: 100px;
    overflow: hidden;

}

.user-image img{
    width: 100%;
}
.post_image {
display:block;
float:none;
width: 75%;
height:50%;
}
.post_image img{
width:100%;
}

.panel-main__inner.panel-inverted{
    bottom: 5%;
    left: 20%;
    position: absolute;
    right: 20%;
    padding: 0px;
}

.panel-cover--collapsed{

    width: 20%;
    max-width: 27%;
}
.content-wrapper{

    width: 100%;
    max-width: 65%;
    margin-left: 25%;
}

.content-wrapper__inner {
    margin-right: 5%;
    padding: 50px 0;

}
